body{
background-color:#0b1010;
}

.cu{
	border: 1px solid none;
	color:#000;
	background-color:#8fb999;}


.cc{
	
	display:block;
	width: 200px;
}
.mec{
	color:#000;
	background-color: #8fb999;
}

.rg{
	border:1px solid black;
}

.cm{
	display: block;
	font-size: 2em;
	color: #fff;
	background-color: #2F7849;
	border: 1px solid red;
}