body{
background-color:#0b1010;
}

.cu{
	border: 1px solid none;
	color:#000;
	background-color:#8fb999;}
.cd{
	border: 1px solid black;
	margin: auto;
	margin-top: -15px;
	text-align: center;
	width:100px;
	color:black;

}

